@use "sass:map";

$primary: #2ea399;
$secondary: #762e8f;
$light: #dfe7fe;

// Import all of Bootstrap's CSS
@import "node_modules/bootstrap/scss/bootstrap";

h1 {
  background:url('../images/GreenshootsLogo.png');
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 3rem;
  color: $primary;
}